/*Variables CSS */
:root {
    --primary-color: #2c3e50; /* Color principal */
    --secondary-color: #e74c3c; /* Color secundario */
    --text-color: #ecf0f1; /* Color de texto */
    --background-color: #f4f4f4; /* Color de fondo */
    --font-family: 'Arial', sans-serif; /* Familia de fuentes */
    --dark-background: #121212; /* Color de fondo oscuro */
    --dark-text: #e0e0e0; /* Color de texto oscuro */
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Caja de modelo de borde */
}
/* Estilos generales */
body {
    font-family: var(--font-family); /*tipografia de la pagina*/
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: 1.6; /* Espaciado entre lineas */	
}
/* Modo Oscuro del cuerpo */
body.dark-mode {
    background-color: var(--dark-background); /*modo oscuro*/
    color: var(--dark-text);
}

/* Header */
.header {
    background-color: var(--primary-color); /*color de fondo del header*/
    color: var(--text-color); /*color de texto del header*/
    padding: 1.25rem;
    display: flex; /* uso del flexbox */
    justify-content: space-between; 
    align-items: center;
}
.header__branding {
    display: flex;
    align-items: center; /*alineacion de elementos*/
    gap: 0.938rem; /*espacio entre elementos*/
}
.header__logo-image {
    width: 3.75rem; /*tamaño del logo*/
    height: auto; 
}
.header__logo {
    font-size: 1.5rem; /*tamaño del logo*/
    font-weight: bold; /*negrita*/
}

.header__nav .nav__list {
    display: flex; /*uso del flexbox*/
    gap: 1.25rem; /*espacio entre elementos*/
    list-style: none; /*quitar viñetas*/
}

.nav__link {
    color: var(--text-color); /*color del texto*/
    text-decoration: none; /*quitar subrayado*/
    font-size: 1.25rem;
    transition: color 0.3s; /*efecto al pasar el mouse*/
}

.nav__link:hover {
    color: var(--secondary-color); /*color al pasar el mouse*/
}
/* controles del header */
.header__controls {
    display: flex;  /*uso del flexbox*/
    align-items: center; /*alineacion de elementos*/
    gap: 1.25rem;
}

.header__search-bar {
    display: flex;
    gap: 0.625rem; /*espacio entre elementos*/
}

.search-bar__input {
    padding: 0.313rem;
    font-size: 1rem; /*tamaño de la fuente*/
    border: 0.063rem solid #ccc; /*borde del input*/
    border-radius: 0.25rem; /*borde redondeado*/
}

.search-bar__button {
    padding: 0.313rem 0.625rem;
    background-color: var(--secondary-color); /*color del boton*/
    color: var(--text-color); /*color del texto*/
    border: none; /*quitar borde*/
    border-radius: 0.25rem; /*borde redondeado*/
    cursor: pointer; /*cursor al pasar el mouse*/
    transition: background-color 0.3s; /*efecto al pasar el mouse*/
}

.search-bar__button:hover {
    background-color: #c0392b; /*color al pasar el mouse*/
}

/* Alternar Modo Oscuro */
.header__dark-mode-toggle {
    display: flex;
    align-items: center; /*alineacion de elementos*/
    font-size: 1rem;
    color: var(--text-color); /*color del texto*/
} 

.dark-mode__label {
    display: flex;
    align-items: center; /*alineacion de elementos*/
    gap: 0.625rem;
    cursor: pointer; /*cursor al pasar el mouse*/
}

.dark-mode__checkbox {
    width: 1.125rem;    /*tamaño del checkbox*/
    height: 1.125rem; /*tamaño del checkbox*/
    cursor: pointer; /*cursor al pasar el mouse*/
}

/* Main */
main {
    padding: 1.25rem; /*espacio interno del main*/
    margin-top: 2.5rem; /*espacio entre el header y el contenido*/
}

.main__section {
    text-align: center;
    padding: 2.5rem 1.25rem;
    background-color: var(--primary-color); /*color de fondo de la seccion*/
    color: var(--text-color);
    border-radius: 0.5rem;
    margin-bottom: 1.25rem; /*espacio entre secciones*/
}

.section__title {
    font-size: 2.25rem;
    margin-bottom: 0.625rem; /*espacio entre elementos*/
}

.section__description {
    font-size: 1.125rem;
}
/* apartado de introducción */
.Introduction {
    padding: 1.25rem;
    background-color: #fff; /*color de fondo de la introduccion*/
    border-radius: 0.5rem;
    margin-bottom: 1.25rem; /*espacio entre elementos*/
}

.Introduction__title {
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
}

.Introduction__text {
    font-size: 1.125rem; /*tamaño del texto*/
    line-height: 1.8;
}
 /* apartado de destacados */
.highlights {
    padding: 1.25rem;
}

.highlights_title {
    font-size: 1.75rem; /*tamaño del titulo*/
    margin-bottom: 1.25rem; /*espacio entre elementos*/
    text-align: center;
}

.highlights__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*ajuste automatico de columnas*/
    gap: 1.25rem;
}

.highlights__item {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1); /*sombra*/
    text-align: center;
    transition: transform 0.3s; /*efecto al pasar el mouse*/
    list-style: none; /*quitar viñetas*/
}

.highlights__item:hover {
    transform: translateY(-0.5rem); /*efecto al pasar el mouse*/
}

.highlights__name {
    font-size: 1.375rem; /*tamaño del nombre*/
    margin-bottom: 0.625rem; /*espacio entre elementos*/
}

.highlights__description {
    font-size: 1rem; /*tamaño de la descripcion*/
}

/* apartado de mensajes */
.message__title {
    font-size: 1.8rem; /*tamaño del titulo*/
    font-weight: bold; /*negrita*/
    text-align: center; /*alineacion del texto*/
    margin-bottom: 1.5rem;
    color: var(--primary-color); /*color del texto*/
}

.message__list {
    list-style: none; /*quitar viñetas*/
    padding: 0; /*quitar relleno*/
    margin: 0; /*quitar margenes*/
    display: flex; /*uso del flexbox*/
    flex-direction: column; /*columnas*/
    gap: 1.5rem;
}

.message__item {
    background-color: #ffffff; /*color de fondo*/
    padding: 1.5rem; /*espacio interno*/
    border: 1px solid #ddd; /*borde*/
    border-radius: 8px; /*borde redondeado*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /*sombra*/
} 

.message__review {
    font-style: italic; /*cursiva*/
    color: #555;  /*color del texto*/
    margin-bottom: 0.5rem; /*espacio entre elementos*/
}

.message__author {
    display: block; /*bloque*/
    text-align: right; /*alineacion del texto*/
    font-weight: bold; /*negrita*/
    color: #333; /*color del texto*/
}


/* Footer */
footer {
    background-color: var(--primary-color); /*color de fondo del footer*/
    color: var(--text-color);
    text-align: center; /*alineacion del texto*/
    padding: 0.625rem;
    margin-top: 1.25rem; /*espacio entre el footer y el contenido*/
}

.footer__text {
    font-size: 0.875rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header__nav .nav__list {
        flex-direction: column; /*columnas*/
        gap: 0.625rem; /*espacio entre elementos*/
    }

    .highlights__grid {
        grid-template-columns: 1fr; /* 1 columna */
    }
}
/* Css para la pagina de contacto */
.contact {
    display: grid; 
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    gap: 2.5rem; /* Espacio entre columnas */
    margin-top: 1.25rem; /* Espacio entre elementos */
}

.contact__form {
    display: flex;
    flex-direction: column; /* columnas */
    gap: 1.25rem; /* Espacio entre elementos */
}

.contact__label {
    font-size: 1rem; /* Ajuste razonable */
    font-weight: bold;
}

.contact__input, 
.contact__textarea {
    padding: 0.625rem; /* Ajuste razonable */
    font-size: 1rem; /* Ajuste razonable */
    border: 0.063rem solid #ccc; /* Borde del input */
    border-radius: 0.25rem; /* Bordes redondeados */
    width: 100%; /* Ancho completo */
}

.contact__textarea {
    height: 7.5rem;
    resize: none; /* no redimensionar */
}

.contact__button {
    padding: 0.625rem; /* Ajuste razonable */
    background-color: var(--secondary-color); /* color del botón */
    color: var(--text-color); /* color del texto */
    font-size: 1rem;
    font-weight: bold; /* negrita */
    border: none;
    border-radius: 0.25rem; /* Bordes redondeados */
    cursor: pointer; /* cursor al pasar el mouse */
    transition:  0.3s; /* Efecto al pasar el mouse */
}

.contact__button:hover {
    background-color: #c0392b; /* color al pasar el mouse */
}

.contact__info {
    background-color: var(--primary-color); /* color de fondo */
    color: var(--text-color); /* color del texto */
    padding: 1.25rem;
    border-radius: 0.5rem; /* Bordes redondeados */
}

.details__text {
    font-size: 1rem; /* Ajuste razonable */
    margin-bottom: 0.313rem;
}

.location {
    margin: 2rem 0; /* Espacio entre elementos */
    padding: 1rem; /* Espacio interno */
    background-color: #f9f9f9; /* Color de fondo */
    border: 0.063rem solid #ccc; /* Borde */
    border-radius: 0.5rem; /* Bordes redondeados */
}

.location__title {
    font-size: 1.8rem; /* Tamaño del título */
    color: var(--primary-color);
    margin-bottom: 0.625rem; /* Espacio entre elementos */
    text-align: center; /* Alineación del texto */
} 

iframe {
    width: 100%;
    height: 18.75rem; /* Altura del mapa */
    border: none;   /* Quitar borde */
    border-radius: 0.5rem; /* Bordes redondeados */
}

.hours__title {
    font-size: 1.5rem; /* Tamaño del título */
    margin-bottom: 0.625rem;
    color: var(--primary-color); /* Color del texto */
    text-align: center;
}

.hours__list {
    list-style: none; /* Quitar viñetas */
    padding: 0; /* Quitar relleno */
    text-align: center; /* Alineación del texto */
}

.hours__item {
    font-size: 1rem;
    margin: 0.313rem; /* Espacio entre elementos */
    color: var(--primary-color); /* Color del texto */
}

/* Responsive Design */
@media (max-width: 48rem) {
    .contact {
        grid-template-columns: 1fr; /* 1 columna */
    }
    iframe {
        height: 15rem; /* Altura del mapa */
    }
}


/* Css para la pagina de servicios */

.products {
    max-width: 75rem; /* Ancho máximo */
    margin: 0 auto;
}

.products__title {
    font-size: 2.5rem; /* Tamaño del título */
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-out; /* Animación */
}

/* Secciones de Productos */
.products__section {
    margin-bottom: 2rem;
    animation: fadeIn 0.8s ease-in-out; /* Animación */
} 

.products__section-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-out; /* Animación */
}

.products__section-description {
    font-size: 1.1rem;
    color: #555;
    text-align: center;
    margin-bottom: 1.5rem;
    animation: fadeIn 1.2s ease-out; /* Animación */
}

/* Rejilla de Productos */
.products__list {
    display: grid; /* Uso del grid */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste automático de columnas */
    gap: 1.5rem;
    list-style: none; /* Quitar viñetas */
    padding: 0; /* Quitar relleno */
}

.product {
    background-color: #fff; /* Color de fondo */
    padding: 1.25rem;
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto al pasar el mouse */
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25rem 0.938rem rgba(0, 0, 0, 0.2); /* Sombra */
}

.product__image {
    width: 100%;
    height: 12.5rem; /* Altura de la imagen */
    object-fit: cover; /* Ajuste de la imagen */
    margin-bottom: 1rem; /* Espacio entre elementos */
    border-radius: 0.5rem; /* Bordes redondeados */
}

.product__name {
    font-size: 1.25rem; /* Tamaño del nombre */
    color: #333;
    margin-bottom: 0.5rem; /* Espacio entre elementos */
}

.product__price {
    font-size: 1.125rem; /* Tamaño del precio */
    color: #e74c3c;
    margin-bottom: 1rem; /* Espacio entre elementos */
}

.product__button {
    padding: 0.5rem 1rem;
    background-color: #e74c3c;  /* Color del botón */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto al pasar el mouse */
}

.product__button:hover {
    background-color: #c0392b; /* Color al pasar el mouse */
    transform: translateY(-0.125rem); /* Efecto al pasar el mouse */
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0; /* Opacidad */
        transform: translateY(1.25rem); /* Efecto de desplazamiento */
    }
    to {
        opacity: 1; /* Opacidad */
        transform: translateY(0); /* Efecto de desplazamiento */
    }
}

/* Responsive Design */
@media (max-width: 48rem) {
    .products__grid { /* Ajuste de la rejilla */
        grid-template-columns: 1fr; /* 1 columna */
    }
}


/* Css para la pagina adicional*/

/* Hero Section */
.first {
    text-align: center; /* Alineación del texto */
    background-color: var(--primary-color); /* Color de fondo */
    color: #e0e0e0;
    padding: 3rem 1rem;
    border-radius: 0.625rem; /* Bordes redondeados */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Sombra */
    
}

.first__title {
    font-size: 3rem; /* Tamaño del título */
    margin-bottom: 1rem; /* Espacio entre elementos */
    font-weight: bold;  
} 

.first__subtitle {
    font-size: 1.5rem;  /* Tamaño del subtítulo */
}

/* Gallery Section */
.gallery {
    text-align: center; /* Alineación del texto */
    
}

.gallery__title {
    font-size: 2rem;
    color: var(--primary-color); /* Color del texto */
    margin-bottom: 2rem;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr)); /* Ajuste automático de columnas */
    gap: 2rem;
    padding: 0; /* Quitar relleno */
    list-style: none; /* Quitar viñetas */
}

.gallery__item {
    border-radius: 0.625rem; /* Bordes redondeados */
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem  rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Efecto al pasar el mouse */
}

.gallery__item:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

.gallery__image {
    width: 100%; /* Ancho */
    height: auto; /* Altura automática */
    display: block; /* Bloque */
}

.gallery__caption {
    background-color: var(--primary-color); /* Color de fondo */
    color: var(--text-color-light); /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 0.5rem;
    font-size: 1rem; /* Tamaño del texto */
}

/* Tips Section */
.tips {
    background-color: #f9f9f9; /* Color de fondo */
    padding: 2rem 1.5rem;
    border-radius: 0.625rem; /* Bordes redondeados */
    box-shadow: 0 25rem 375rem rgba(0, 0, 0, 0.1); /* Sombra */
   
}

.tips__title {
    font-size: 2rem; /* Tamaño del título */
    color: var(--primary-color); /* Color del texto */
    margin-bottom: 1rem; /* Espacio entre elementos */
    text-align: center;
}

.tips__item {
    font-size: 1.25rem; /* Tamaño del texto */
    margin-bottom: 1rem; /* Espacio entre elementos */
    color: #555;
    line-height: 1.6; /* Espaciado entre líneas */
    position: relative; /* Posición relativa */
    padding-left: 1.5rem; /* Espacio interno izquierdo */
}

/* Events Section */
.events {
    background-color: var(--primary-color); /* Color de fondo */
    color: #e0e0e0;
    padding: 2rem 1.5rem; /* Espacio interno */
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Sombra */
    
}

.events__title {
    font-size: 2rem;
    margin-bottom: 1rem; /* Espacio entre elementos */
    text-align: center; /* Alineación del texto */
}

.events__list {
    list-style: none; /* Quitar viñetas */
    padding: 0;
    margin: 0; /* Quitar margen */
} 

.events__item {
    margin-bottom: 1.5rem; /* Espacio entre elementos */
    padding: 1rem; /* Espacio interno */
    border-bottom: 0.063rem solid rgba(255, 255, 255, 0.5); /* Borde inferior */
}

.events__name {
    font-size: 1.5rem; /* Tamaño del nombre */
    font-weight: bold; 
}

.events__date,.events__location {
    font-size: 1rem; /* Tamaño del texto */
    margin-top: 0.5rem; /* Espacio superior */
}



/* Responsive Design */
@media (max-width: 48rem) {
    .hero__title {
        font-size: 2.5rem; /* Tamaño del título */
    }

    .gallery__list {
        grid-template-columns: 1fr; /* 1 columna */
    }

    .tips__item {
        font-size: 1rem; /* Tamaño del texto */
    }

    .events__name {
        font-size: 1.25rem; /* Tamaño del nombre */
    }
}